.ProductReviewCard{
    margin: 0.5vmax;
    background-color:white;
    padding-bottom: 2vmax;
    cursor: pointer;
    transition: all 0.5s;
}
.ProductReviewCard:hover{
    margin: 2vmax 0 0.5vmax 2vmax;
    color: rgb(94,94,94);
}
.ProductReviewCard span{
    margin: 0 2vmax;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vmax;
    color: rgb(94,94,94);

}
.ProductReviewCard b{
    font-size: 1vmax;
    color: orangered;
}